
@mixin btn-box-shadow {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
$btn-list:(default, $color-white, $color-dark, $color-white-border), (primary, $color-ocean, $color-white, $color-ocean-border), (warning, $color-yellow, $color-white, $color-yellow-border), (danger, $color-red, $color-white, $color-red-border), (safe, $color-green, $color-white, $color-green-border),(info, $color-info, $color-white, $color-info-border);
$btn-list-hover:(default, $color-white-hover, $color-white-border-hover), (primary, $color-ocean-hover, $color-ocean-border-hover), (warning, $color-yellow-hover, $color-yellow-border-hover), (danger, $color-red-hover, $color-red-border-hover), (safe, $color-green-hover, $color-green-border-hover),(info, $color-info-hover, $color-white, $color-info-border-hover);

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 12px;
  min-width: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;  
}
.btn-block {
  display: block;
}

@each $name, $back-color, $color, $border-color in $btn-list {
  .btn-#{$name} {
    color: #{$color};
    border: 1px solid #{$border-color};
    background-color: #{$back-color};
  }
}

@each $name, $back-color, $border-color in $btn-list-hover {
  .btn-#{$name}{
    &:hover{
      border: 1px solid #{$border-color};
      background-color: #{$back-color};
    };
    &:active{
      border: 1px solid #{$border-color};
      background-color: #{$back-color};
      @include btn-box-shadow;
    }
    
  }
}
.btn-menu-icon {
  display:inline-block;
  cursor:pointer;
  background-color: $color-blue;
  padding-top:7px;
  height:30px;
  width:40px;
  span {
    border:2px solid #fff;
    margin-bottom:5px;
    display:block;
    -webkit-transition:all .2s;
    transition:all .1s;
  };
}
.btn-menu-icon.active{
  .first {
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    margin-top:10px
  };
  .second {
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    position:relative;top:-9px;
  };
  .third {
    display:none
  }
}
