.radio-box {
	display:inline-block;
	[type="radio"]{
    position: absolute;
    left: -9999px;
    &+label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      &:hover {
        &:before {
          border:2px solid #4778d9;
        }
      };
      &:before {
        content: '';
        position: absolute;
        left:0; 
        top: 3px;
        width: 16px; 
        height: 16px;
        border-radius:50%;
        border: 2px solid #aaa;
        background: #f8f8f8;
      };
      &:after {
        content: '';
        display: block;
        position: absolute;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		top: 9px;
		left: 6px;
        background-color: #09ad7e;
        transition: all .2s;
      }

    };
    &:not(:checked) + label {
      &:after {
        opacity: 0;
        transform: scale(0);
      };
    };
    &:checked + label {
      opacity: 1;
      transform: scale(1);
      &:before {
        border-color:#09ad7e;
      }

    };
    &:disabled + label {
      color: #aaa;
      &:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      };
    }
  }
}