.search-input {
	display: inline-block;
	position: relative;
	input {
		width:140px;
		border-radius: 25px;
		padding-left: 25px;
		padding-right: 40px;
		&:focus {
	    	border: 1px solid $focus-border;
			outline: 0px;
	    };
	};
	i {
		position: absolute;
		display: inline-block;
		line-height: 34px;
		text-align: center;
		height: 34px;
		width: 25px;
		right: 14px;
        top: 1px;
		color:burlywood;
		font-size: 20px;
	}
}
.search-defalut {

}
.search-primary {

}