@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

$g-font-size:12px;
$g-font:12px Georgia, "Times New Roman", Times, serif;
$g-color:#888;
$g-background-color:#F7F7F7; 

$color-dark:  #333030;
$color-ocean:  #2b90d9;
$color-grass: #3ac569;
$color-snow: #FFFFFF;
$color-salmon: #ff7473;
$color-sun: #feee7d;
$color-alge: #79a8a9;
$color-flower: #353866;

$font-Roboto: 'Roboto', sans-serif;


$commentbox-width:80%;

