@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

$g-font-size:12px;
$g-font:12px Georgia, "Times New Roman", Times, serif;
$g-color:#888;
$g-background-color:#F7F7F7; 
$font-Roboto: 'Roboto', sans-serif;


/**
 * [btn color description]
 * @type {[type]}
 */
$color-white: #fff;
$color-white-border: #ccc;
$color-white-hover: #e6e6e6;
$color-white-border-hover: #adadad;

$color-ocean:  #337ab7;
$color-ocean-border: #2e6da4;
$color-ocean-hover: #286090;
$color-ocean-border-hover: #204d74;

$color-green: #5cb85c;
$color-green-border: #4cae4c;
$color-green-hover: #449d44;
$color-green-border-hover: #398439;


$color-red: #d9534f;
$color-red-border: #d43f3a;
$color-red-hover: #c9302c;
$color-red-border-hover: #ac2925;


$color-yellow: #f0ad4e;
$color-yellow-border: #eea236;
$color-yellow-hover: #ec971f;
$color-yellow-border-hover: #d58512;

$color-info: #5bc0de;
$color-info-border: #46b8da;
$color-info-hover: #31b0d5;
$color-info-border-hover: #269abc;

$color-dark:  #333030;
$color-dark-hover:  #333030;

/**
 * form color
 */

$input-border-color: #ccc;
$search-focus-border: #85b7d9;
/**
 * [color description]
 * @type {[type]}
 */
$navbox-color: #00446b;
$navbox-border-color:#27549C;
$navbox-menu-hover-color:rgb(23, 78, 132);
