<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name=”viewport” content=”width=device-width, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0, user-scalable=no”>
	<link rel="stylesheet" type="text/css" href="../build/style/app.css" />
</head>
<body>
	<div id="commentbox"></div>
</body>
	<script src='../lib/react.js'></script>
	<script src='../lib/react-dom.js'></script>
	<script type="text/javascript" src="../lib/jquery.js"></script>
	<script src='../build/js/app.js'></script>
</html>